body{
    background: linear-gradient(#ededf0, #2a2d24);
    
}

/* Header */
header{
    background: #0a0a0a;
    padding: 2%;
    height: 80px;
}

header img{
    width: 200px;
}

main{
    padding: 20px;
    width: 0 auto;
    /* display: flex; */
}

.content-title{
    margin-left: 5px;
    width: 0px;
    height: 10px;
}
#title{
    background: #e7e3e2;
    border-radius: 5px;
    padding: 10px;
    outline-style:groove;
    width: 410px;

}

.content-description{
    background: #2a2d24;
    width: 0px;
    margin-top: 100px;
    margin-left: 1px;
    height: 10px;
}

#description{
    background: #e7e3e2;
    border-radius: 5px;
    padding: 10px;
    outline-style:groove;
    width: 410px;
    height: 200px;
}






/* Buttons */
/* .box-buttons{
    margin-left: 150px;
    width: 400px;
    display: flex;
    background: #90663b;
    padding: 20px;
} */

.buttons{
    padding: 20px;
    background: #74903b;
    width: 300px;
    margin-top: 350px;
}

.btn-converterPdf{
    font-weight: bold;
    background: linear-gradient(#e7dc09,#fcb900);
    border-bottom: #fcb900;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;

    
}

.btn-converterPdf:hover{
    transform: scale(1.05);
    background: rgba(243, 178, 37, 0.8);
}

.btn-downloadFile:hover{
    transform: scale(1.05);
    background: rgba(243, 178, 37, 0.8);
}

.btn-downloadFile{
    font-weight: bold;
    background: linear-gradient(#e7dc09,#fcb900);
    border-bottom: #fcb900;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-left: 40px;
}

/* Display iframe*/
/* 
.display{
    background: #e7dc09;
    margin-left: 600px;
    display: flex;
    
} */

#displayPdf{
    height: 450px;
    width: 800px;
    margin-left: 200px;
    margin-top: 10px;
    
}



 /* Footer */
footer{
    padding: 20px;
    background: #0a0a0a;
    color: #fcb900;
    height: 110px;
}

.f-image img{
    width: 180px;
    padding: 5px;
    
}

.copyRight{
    color: #ededf0;
    text-align : center;
    padding: 5px;
}

.copyRight img{
    width: 20px;
    border-radius: 10%;
}

.copyRight img:hover{
    transform: scale(1.1);
}